<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ api.site.headline }}" />
    <meta name="generator" content="11ty" />

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}" />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />

    <title>{{ title or api.site.name }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}" />

    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Lora&family=Open+Sans&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="font-sans text-lg font-light text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-gray-200">
    {{ content | safe }}
  </body>
</html>
