---
layout: default
---

<main
  class="grid grid-cols-2 gap-4"
  x-init="page = {{ (pagination.pageNumber / 5) | round(0, 'floor') }}"
  x-data="{ page: parseInt(location.hash.substring(1)) }"
  @hashchange.window="page = parseInt(location.hash.substring(1))"
>
  <nav class="box-border sticky top-0 flex flex-col h-screen py-20 pl-20">
    <header class="mb-8 text-lg font-bold">Notes</header>
    <ul class="mb-4">
      {% for n in api.notes %}
      <li x-show="page === {{ (loop.index0 / 5) | round(0, 'floor') }}">
        {%- set link = '/' + n.path %}
        <a class="hover:underline" href="{{ link | url }}">{{ n.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="flex-grow">
      <a class="mr-4 font-semibold underline" x-bind:href="'#' + (page - 1)" x-show="page > 0">Back</a>
      <a
        class="font-semibold underline"
        x-bind:href="'#' + (page + 1)"
        x-show="page < {{ (api.notes.length / 5) | round(0, 'floor') }}"
      >
        More
      </a>
    </div>
    <footer>
      <ul>
        {% for name, link in metadata.links %}
        <li>
          <a class="hover:underline" href="{{ link }}">{{ name }}</a>
        </li>
        {% endfor %}
      </ul>
    </footer>
  </nav>

  <article class="py-20 pr-20">
    <section class="prose prose-lg dark:prose-invert">{{ content | safe }}</section>
  </article>
</main>
