<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta -->
    <meta name="description" content="{{ api.site.headline }}" />
    <meta name="generator" content="11ty" />

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}" />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />

    <title>{{ title or api.site.name }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Lora&family=Open+Sans&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="font-sans text-sm font-light text-gray-800 bg-gray-100 lg:text-lg sm:text-base dark:bg-gray-800 dark:text-gray-200 md:grid md:grid-cols-2 md:gap-4">

    <main class="p-4 mx-auto prose-sm prose sm:p-8 xl:py-16 xl:pr-16 sm:prose-base dark:prose-invert lg:prose-lg md:col-start-2 md:m-0 md:pl-0">{{ content | safe }}</main>

    <aside
      class="w-full p-4 mx-auto sm:p-8 max-w-prose xl:py-32 xl:pl-32 md:box-border md:sticky md:top-0 md:flex md:justify-between md:flex-col md:h-screen md:col-start-1 md:row-start-1 md:m-0 md:ml-auto md:py-16 md:pl-16 md:pr-0"
      x-init="page = {{ (pagination.pageNumber / 5) | round(0, 'floor') }}"
      x-data="{ page: parseInt(location.hash.substring(1)) }"
      @hashchange.window="page = parseInt(location.hash.substring(1))"
    >
      <nav class="">
        <h1 class="text-lg font-bold">Notes</h1>
        <ul class="my-4">
          {% for n in api.notes %}
          <li x-show="page === {{ (loop.index0 / 5) | round(0, 'floor') }}">
            {%- set link = '/' + n.path %}
            <a class="hover:underline" href="{{ link | url }}">{{ n.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="grid grid-cols-2">
          <a class="font-semibold underline" x-bind:href="'#' + (page - 1)" x-show="page > 0">Back</a>
          <a
            class="col-start-2 font-semibold underline"
            x-bind:href="'#' + (page + 1)"
            x-show="page < {{ (api.notes.length / 5) | round(0, 'floor') }}"
          >More</a>
        </div>
      </nav>
      <footer class="mt-4">
        <ul>
          {% for name, link in metadata.links %}
          <li>
            <a class="hover:underline" href="{{ link }}">{{ name }}</a>
          </li>
          {% endfor %}
        </ul>
      </footer>
    </aside>

  </body>
</html>
